@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutBDS.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron">
        <h2>Tại sao bạn tìm đến chúng tôi?</h2>
        <p>

            Bạn là chuyên viên tư vấn, nhà môi giới giàu kinh nghiệm trong lĩnh vực BẤT ĐỘNG SẢN?
            hay một “lính mới”  trong nghề thì bạn vẫn đang mất nhiều thời gian trong việc tìm kiếm nguồn thông tin BẤT ĐỘNG SẢN chính chủ?
            Chúng tôi xây dựng phần mềm BDSChinhchu.com.vn giúp bạn tiết kiệm thời gian, giảm chi phí, nâng cao hiệu quả trong việc tìm kiếm nguồn hàng chính chủ .
        </p>
        <p>
            <a class="btn btn-green" href="#" role="button">Tìm hiểu thêm »</a>
        </p>
    </div>
    <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
        <div class="col-md-4">
            <h2>Giới thiệu</h2>
            <p>
                BDSChinhchu.com.vn hoạt động dựa trên công nghệ hiện đại, tiên tiến để thu thập dữ liệu từ nhiều nguồn khác nhau trên internet, kết hợp với đội ngũ chuyên viên nhiều năm kinh nghiệm trong lĩnh vực tư vấn, môi giới BẤT ĐỘNG SẢN sàng lọc để đưa ra nguồn tin chính chủ  hỗ trợ các bạn MÔI GIỚI nhằm giảm chi phí
            </p>
            <p><a class="btn btn-default btn-detail" href="#" role="button">Chi tiết »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Quy định thỏa thuận</h2>
            <p>
                Bdschinhchu.com.vn là đơn vị trung gian trong việc truyền tải dữ liệu từ nhiều nguồn trên internet tới khách hàng.
                Bdschinhchu.com.vn là cá nhân, tổ chức có hoạt động thương mại hợp pháp,phải đăng ký kê khai các thông tin cá nhân bắt buộc trước khi ban quản lý.
                Các cá nhân, tổ chức tham gia giao dịch trên
            </p>
            <p><a class="btn btn-default btn-detail" href="#" role="button">Chi tiết »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Thông tin khuyến mãi</h2>
            <p>
                Chương trình khuyễn mãi được áp dụng từ ngày 20/11/2015 khi khách hàng.
                Thanh toán 03 tháng được cộng 01 tháng sử dụng.
                Thanh toán 06 tháng được cộng 02 tháng sử dụng.
                Thanh toán 12 tháng được cộng 03 tháng sử dụng.
                Giới thiệu thành công 01 tài khoản mới sẽ được cộng 03 ngày sử dụng
            </p>
            <p><a class="btn btn-default btn-detail" href="#" role="button">Chi tiết »</a></p>
        </div>
    </div>

</div>



<!--
<select>
    @Html.Raw(ViewBag.TreeConvert)
</select>
@Html.Raw(ViewBag.UlConvert)
-->
