<div class="panel-footer">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <p>Hỗ trợ kỹ thuật</p>
                    <p>0902.093.039 <br /> 0949.542.124</p>
                </div>
                <div class="col-md-6">
                    <p>Copyright &copy; @DateTime.Now.Year -  BDSChinhchu.com.vn</p>
                    <p>BdsChinhchu.com.vn có trách nhiệm truyền tải thông tin. <br />Không chịu bất kỳ trách nhiệm nào từ nội dung của các tin đăng.</p>
                </div>
            </div>
        </footer>
    </div>
</div>

